@import (less) "../css/normalize.css";
@import (less) "../css/layout.css";

/*fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400i,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
/*fonts */

*{
	padding: 0;
	margin: 0;
}
body{
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.hide{
	display: none;
}
@media (max-width: 318px){
.yva-container{
	max-width: 318px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0 auto;
	position: relative;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 280px;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 280px;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 280px;
}
.yva-respnavigation{
	display: none;
	position: absolute;
	top: 0px;
	right: 0;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	opacity: 1;
	display: block;
}
/*        */
.yva-title{
	font-size: 36px;
	font-weight: 900;
	&-secondary{
		font-size: 28px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 188px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 260px;
		}
	}
	&-logo{
		display: inline-block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 24px;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 32px;
	}
	&-li{
		display: inline-block;
		width: 30%;
		padding-left: 1%;
		padding-right: 1%;
		height: 330px;
		margin-top: 16px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 8px;
		}
		&-2{
			padding-top: 62px;
		}
		&-3{
			height: 300px;
			padding-left: 36px;
			padding-top: 8px;
		}
		&-4{
			padding-top: 20px;
		}
		&-5{
			padding-top: 52px;
		}
		&-6{

		}
		&-7{
			padding-left: 6px;
			padding-top: 68px;
		}
		&-8{
			padding-left: 60px;
			padding-top: 68px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0.85);
			position: absolute;
			bottom: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 26px;
				padding-top: 18px;
				padding-bottom: 18px;
				color: rgb(60,73,85);
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-goods-img-wrapper:hover > .yva-goods-img-mask{
	bottom: 0;
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		padding-left: 610px;
		padding-right: 120px;
		background: url(../img/wheel.png) 10% 50% no-repeat;
		background-size: 50%;
	}
	&-title{		
		padding-top: 176px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 46px;
		}
	}
	&-text{
		padding-bottom: 246px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 42px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phone{
		display: block;
		padding: 20px 20px 20px 140px;
		font-size: 28px;
		font-weight: 700;
		background: url(../img/cell.png) 10% 50% no-repeat;
		background-size: 12%;
		margin-bottom: 34px;
		&:nth-child(2){
			background: url(../img/home.png) 64% 50% no-repeat;
			background-size: 12%;
			padding-left: 56px;
		}
	}
	&-adress{
		font-size: 38px;
		font-weight: 700;
		padding-left: 260px;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		background: url(../img/map.png) 36% 50% no-repeat;
		background-size: 18%;
		display: inline-block;
		width: 49%;
		vertical-align: middle;
	}
	&-phones{
		display: inline-block;
		width: 49%;
		vertical-align: middle;
		padding-left: 60px;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 72px;
	padding-bottom: 72px;
	&-text{
		display: inline-block;
		vertical-align: middle;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: inline-block;
		padding-left: 424px;
		&-li{
			display: inline-block;
			vertical-align: middle;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 74px;
			height: 74px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 318px) and (max-width: 414px){
.yva-container{
	width: 320px;
	padding-left: 5px;	
	padding-right: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	z-index: 7;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 240px;
	background-color: green;
}
.yva-respnavigation{
	z-index: 3;
	position: absolute;
	top: 0px;
	right: -280px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		padding-left: 50px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	display: block;
	opacity: 1;
}
/*        */
.yva-title{
	font-size: 24px;
	font-weight: 900;
	&-secondary{
		font-size: 22px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 60px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 80px;
		}
	}
	&-logo{
		display: block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 24px;
		border-bottom: 1px solid white;
		padding-bottom: 20px;
		text-align: center;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		display: none;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 32px;
	}
	&-li{
		display: inline-block;
		width: 150px;
		height: 150px;
		margin-top: 8px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 18px;
			height: 90%;
			padding-left: 12px;
		}
		&-2{
			padding-top: 32px;
		}
		&-3{
			height: 150px;
			padding-left: 36px;
			padding-top: 8px;
		}
		&-4{
			padding-top: 24px;
		}
		&-5{
			padding-top: 52px;
		}
		&-6{

		}
		&-7{
			padding-left: 6px;
			padding-top: 38px;
		}
		&-8{
			padding-left: 20px;
			padding-top: 18px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 16px;
				padding-top: 18px;
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;
				display: none;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		background-size: 0%;
	}
	&-title{		
		padding-top: 86px;
		&-secondary{
			padding-top: 6px;
			font-size: 20px;
			padding-bottom: 26px;
		}
	}
	&-text{
		padding-bottom: 86px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 12px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phones{
		display: block;
		width: 100%;
	}
	&-phone{
		padding-left: 80px;
		font-size: 22px;
		font-weight: 700;
		margin: 0;
		background: url(../img/cell.png) 12% 50% no-repeat;
		background-size: 12%;
		padding-bottom: 16px;
		padding-top: 16px;
		&:nth-child(2){
			background: url(../img/home.png) 86% 50% no-repeat;
			background-size: 12%;
			padding-left: 80px;
		}
	}
	&-adress{
		font-size: 22px;
		width: 100%;
		font-weight: 700;
		padding-left: 100px;
		padding-top: 20px;
		padding-bottom: 40px;
		text-align: center;
		background: url(../img/map.png) 20% 10% no-repeat;
		background-size: 20%;
		display: block;
		border-bottom: 1px solid gray;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 42px;
	padding-bottom: 42px;
	&-text{
		font-size: 12px;
		text-align: center;
		display: block;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: block;
		padding-left: 0;
		padding-top: 18px;
		text-align: center;
		&-li{
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 52px;
			height: 52px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 414px) and (max-width: 600px){
.yva-container{
	width: 414px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	z-index: 7;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 240px;
	background-color: green;
}
.yva-respnavigation{
	z-index: 3;
	position: absolute;
	top: 0px;
	right: -280px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		padding-left: 50px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	display: block;
	opacity: 1;
}
/*        */
.yva-title{
	font-size: 26px;
	font-weight: 900;
	&-secondary{
		font-size: 24px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 120px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 130px;
		}
	}
	&-logo{
		display: block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 24px;
		border-bottom: 1px solid white;
		padding-bottom: 20px;
		text-align: center;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		display: none;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 88px;
	padding-bottom: 88px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 32px;
	}
	&-li{
		display: inline-block;
		width: 200px;
		padding-left: 1%;
		padding-right: 1%;
		height: 160px;
		margin-top: 6px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 38px;
			padding-left: 44px;
		}
		&-2{
			padding: 20px;
			padding-top: 40px;
		}
		&-3{
			height: 150px;
			padding-left: 36px;
			padding-top: 8px;
		}
		&-4{
			padding: 24px;
			padding-top: 40px;
		}
		&-5{
			padding: 22px;
			padding-top: 52px;
		}
		&-6{
			padding: 20px;
		}
		&-7{
			padding-left: 6px;
			padding-top: 38px;
		}
		&-8{
			padding: 40px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 18px;
				padding-top: 18px;
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;
				display: none;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		background-size: 0%;
	}
	&-title{		
		padding-top: 86px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 46px;
		}
	}
	&-text{
		padding-bottom: 86px;
		padding-left: 16px;
		padding-right: 16px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 12px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phones{
		display: block;
		width: 100%;
	}
	&-phone{
		padding-left: 110px;
		font-size: 22px;
		font-weight: 700;
		margin: 0;
		background: url(../img/cell.png) 8% 50% no-repeat;
		background-size: 12%;
		&:nth-child(2){
			background: url(../img/home.png) 68% 50% no-repeat;
			background-size: 12%;
			padding-left: 30px;
		}
	}
	&-adress{
		font-size: 22px;
		width: 100%;
		font-weight: 700;
		padding-left: 100px;
		padding-top: 20px;
		padding-bottom: 40px;
		text-align: center;
		background: url(../img/map.png) 20% 50% no-repeat;
		background-size: 20%;
		display: block;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 62px;
	padding-bottom: 62px;
	&-text{
		font-size: 12px;
		text-align: center;
		display: block;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: block;
		padding-left: 0;
		padding-top: 18px;
		text-align: center;
		&-li{
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 52px;
			height: 52px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 600px) and (max-width: 768px){
.yva-container{
	width: 600px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	z-index: 7;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 240px;
	background-color: green;
}
.yva-respnavigation{
	z-index: 3;
	position: absolute;
	top: 0px;
	right: -280px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		padding-left: 50px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	display: block;
	opacity: 1;
}
/*        */
.yva-title{
	font-size: 30px;
	font-weight: 900;
	&-secondary{
		font-size: 28px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 120px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 150px;
		}
	}
	&-logo{
		display: block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 24px;
		padding-bottom: 20px;
		text-align: left;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		display: none;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 88px;
	padding-bottom: 88px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 32px;
	}
	&-li{
		display: inline-block;
		width: 200px;
		padding-left: 1%;
		padding-right: 1%;
		height: 160px;
		margin-top: 6px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 48px;
			padding-left: 44px;
			height: 160px;
		}
		&-2{
			padding: 20px;
			padding-top: 40px;
		}
		&-3{
			height: 150px;
			padding-left: 36px;
			padding-top: 8px;
		}
		&-4{
			padding: 24px;
			padding-top: 40px;
		}
		&-5{
			padding: 22px;
			padding-top: 52px;
		}
		&-6{
			padding: 20px;
		}
		&-7{
			padding-left: 6px;
			padding-top: 38px;
		}
		&-8{
			padding: 40px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 18px;
				padding-top: 18px;
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;
				display: none;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		background-size: 0%;
	}
	&-title{		
		padding-top: 106px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 46px;
		}
	}
	&-text{
		font-size: 20px;
		padding-bottom: 106px;
		padding-left: 16px;
		padding-right: 16px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 12px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phones{
		display: block;
		width: 100%;
	}
	&-phone{
		padding-left: 110px;
		font-size: 24px;
		font-weight: 700;
		margin: 0;
		background: url(../img/cell.png) 24% 50% no-repeat;
		background-size: 10%;
		padding: 30px 0;
		padding-left: 220px;
		&:nth-child(2){
			background: url(../img/home.png) 76% 50% no-repeat;
			background-size: 10%;
			padding-left: 220px;
		}
	}
	&-adress{
		font-size: 26px;
		width: 100%;
		font-weight: 700;
		padding-left: 100px;
		padding-top: 30px;
		padding-bottom: 40px;
		text-align: center;
		background: url(../img/map.png) 20% 50% no-repeat;
		background-size: 16%;
		display: block;
		margin-bottom: 20px;
		border-bottom: 1px solid gray;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 72px;
	padding-bottom: 72px;
	&-text{
		font-size: 12px;
		text-align: center;
		display: block;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: block;
		padding-left: 0;
		padding-top: 18px;
		text-align: center;
		&-li{
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 64px;
			height: 64px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 768px) and (max-width: 899px){
.yva-container{
	width: 768px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	z-index: 7;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 240px;
	background-color: green;
}
.yva-respnavigation{
	z-index: 3;
	position: absolute;
	top: 0px;
	right: -280px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		padding-left: 50px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	display: block;
	opacity: 1;
}
/*        */
.yva-title{
	font-size: 32px;
	font-weight: 900;
	&-secondary{
		font-size: 28px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 80px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 140px;
		}
	}
	&-logo{
		display: inline-block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 16px;
		padding-left: 10px;
		padding-bottom: 20px;
		border: none;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		display: none;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 68px;
	padding-bottom: 68px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 52px;
	}
	&-li{
		display: inline-block;
		width: 49%;
		padding-left: 1%;
		padding-right: 1%;
		height: 220px;
		margin-top: 14px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 46px;
			padding-left: 104px;
			height: 220px;
		}
		&-2{
			padding: 50px;
			padding-top: 40px;
		}
		&-3{
			padding-left: 96px;
			height: 200px;
			padding-top: 20px;
		}
		&-4{
			padding: 64px;
			padding-top: 40px;
		}
		&-5{
			padding: 42px;
			padding-top: 52px;
		}
		&-6{
			padding: 68px;
			padding-top: 10px;
		}
		&-7{
			padding: 26px;
			padding-left: 42px;
			padding-top: 42px;
		}
		&-8{
			padding: 60px;
			padding-left: 100px;
			height: 260px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 24px;
				padding-top: 18px;
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;
				display: none;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		background-size: 0%;
	}
	&-title{		
		padding-top: 146px;
		&-secondary{
			padding-top: 22px;
			padding-bottom: 66px;
		}
	}
	&-text{
		padding-bottom: 146px;
		padding-left: 66px;
		padding-right: 66px;
		font-size: 22px;
	}
}
.yva-contacts{
	margin-top: 88px;
	margin-bottom: 88px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 12px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phones{
		padding-top: 60px;
		display: block;
		width: 100%;
	}
	&-phone{
		padding-left: 230px;
		font-size: 26px;
		font-weight: 700;
		margin: 0;
		background: url(../img/cell.png) 24% 50% no-repeat;
		background-size: 7%;
		&:nth-child(2){
			background: url(../img/home.png) 66% 50% no-repeat;
			background-size: 8%;
			padding-left: 230px;
		}
	}
	&-adress{
		font-size: 30px;
		width: 100%;
		font-weight: 700;
		padding-left: 120px;
		padding-top: 40px;
		padding-bottom: 60px;
		margin-bottom: 20px;
		text-align: center;
		background: url(../img/map.png) 30% 33% no-repeat;
		background-size: 10%;
		display: block;
		border-bottom: 1px solid gray;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 82px;
	padding-bottom: 82px;
	&-text{
		font-size: 16px;
		text-align: center;
		display: block;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: block;
		padding-left: 0;
		padding-top: 28px;
		text-align: center;
		&-li{
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 74px;
			height: 74px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 900px) and (max-width: 1148px){
.yva-container{
	width: 900px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: inline-block;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 10px;
	font-size: 1px;
	transition: all 1000ms ease;
	z-index: 7;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 240px;
	background-color: green;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 240px;
	background-color: green;
}
.yva-respnavigation{
	z-index: 3;
	position: absolute;
	top: 0px;
	right: -280px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 280px;
	opacity: 0;
	background-color: white;
	&-li{
		padding: 18px;
		padding-left: 50px;
		border-bottom: 1px solid rgba(60, 73, 85, 0.9);
	}
	&-link{
		color: rgba(60, 73, 85, 0.9);
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #48bf72;
			cursor: pointer;
		}
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	display: block;
	opacity: 1;
}
/*        */
.yva-title{
	font-size: 34px;
	font-weight: 900;
	&-secondary{
		font-size: 32px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 120px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 160px;
		}
	}
	&-logo{
		display: inline-block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 16px;
		padding-left: 10px;
		padding-bottom: 20px;
		border: none;
		&:hover{
			text-shadow: 3px 3px 2px #48bf72;
		}
		&:active{
			color: red;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 585px;
		display: none;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 48px;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 88px;
	padding-bottom: 88px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 0;
		}
	}
	&-list{
		margin-top: 52px;
	}
	&-li{
		display: inline-block;
		width: 49%;
		padding-left: 1%;
		padding-right: 1%;
		height: 320px;
		margin-top: 16px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 36px;
			padding-left: 94px;
			height: 300px;
		}
		&-2{
			padding: 50px;
			padding-top: 40px;
		}
		&-3{
			padding-left: 96px;
			height: 300px;
			padding-top: 20px;
		}
		&-4{
			padding: 64px;
			padding-top: 60px;
		}
		&-5{
			padding: 42px;
			padding-top: 72px;
		}
		&-6{
			padding: 68px;
			padding-top: 10px;
		}
		&-7{
			padding: 26px;
			padding-left: 42px;
			padding-top: 62px;
		}
		&-8{
			padding: 60px;
			padding-left: 110px;
			height: 320px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&-mask{
			background-color: rgba(72,191,114,0);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			&-title{
				font-size: 28px;
				padding-top: 18px;
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;
				display: none;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		background-size: 0%;
	}
	&-title{		
		padding-top: 156px;
		&-secondary{
			padding-top: 24px;
			padding-bottom: 46px;
		}
	}
	&-text{
		padding-bottom: 136px;
		padding-left: 56px;
		padding-right: 56px;
		font-size: 22px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 12px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phones{
		display: block;
		width: 100%;
	}
	&-phone{
		padding-left: 270px;
		font-size: 32px;
		font-weight: 700;
		margin: 0;
		background: url(../img/cell.png) 24% 50% no-repeat;
		background-size: 7%;
		&:nth-child(2){
			background: url(../img/home.png) 66% 50% no-repeat;
			background-size: 8%;
			padding-left: 270px;
		}
	}
	&-adress{
		font-size: 34px;
		width: 100%;
		font-weight: 700;
		padding-left: 120px;
		padding-top: 40px;
		padding-bottom: 60px;
		margin-bottom: 20px;
		text-align: center;
		background: url(../img/map.png) 30% 33% no-repeat;
		background-size: 10%;
		display: block;
		border-bottom: 1px solid gray;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 92px;
	padding-bottom: 92px;
	&-text{
		font-size: 16px;
		text-align: center;
		display: inline-block;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: inline-block;
		padding-left: 220px;
		padding-top: 28px;
		text-align: center;
		&-li{
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 74px;
			height: 74px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}
/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/
@media (min-width: 1149px){
/* burger and respnavigation*/
.yva-checkbox{
	display: none;
}
.yva-label{
	display: none;
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 18px;
}
.yva-burgerpart{
	display: none;
	width: 40px;
	border-radius: 2px;
	height: 4px;
	background-color: white;
	position: absolute;
	top: 26px;
	right: 0;
	font-size: 1px;
	transition: all 1000ms ease;
	&-1{
		opacity: 1;
	}
	&-2{
		top: 16px;
	}
	&-3{
		top: 36px;
	}
}
.yva-checkbox:checked ~ .yva-burgerpart-2{
	transform: rotate(-45deg);
	top: 26px;
	right: 200px;
}
.yva-checkbox:checked ~ .yva-burgerpart-3{
	transform: rotate(-315deg);
	top: 26px;
	right: 200px;
}
.yva-checkbox:checked ~ .yva-burgerpart-1{
	opacity: 0;
	right: 200px;
}
.yva-respnavigation{
	position: absolute;
	top: 0px;
	right: -200px;
	padding: 0;
	margin: 0;
	transition: all 1000ms ease;
	width: 200px;
	opacity: 0;
	display: none;
	&-li{
		padding: 18px;
	}
	&-link{
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
}
.yva-checkbox:checked ~ .yva-respnavigation{
	right: 0;
	opacity: 1;
}
/*        */
.yva-container{
	width: 1150px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}
.yva-title{
	font-size: 36px;
	font-weight: 900;
	&-secondary{
		font-size: 28px;
		font-weight: 400;
	}
}
.yva-header{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-title{
		text-align: center;
		color: white;
		padding-top: 188px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 260px;
		}
	}
	&-logo{
		display: inline-block;
		font-size: 20px;
		color: white;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-style: italic;
		padding-top: 24px;
		&:hover{
			text-shadow: none;
		}
		&:active{
			color: white;
		}
	}
	&-img{
		vertical-align: middle;
	}
	&-nav{
		display: inline-block;
		font-size: 0;
		margin-left: 385px;
		&-li{
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			padding-left: 48px;
			&:nth-child(1){
				padding-right: 0;
			}
		}
		&-link{
			color: white;
			display: block;
			&:hover{
				text-shadow: 2px 2px 1px #48bf72;
			}
			&:active{
				color: red;
			}
		}
	}
}
.yva-goods{
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	&-title{
		color: rgb(72,191,114);
		&-secondary{
			padding-bottom: 12px;
		}
	}
	&-list{
		margin-top: 32px;
	}
	&-li{
		display: inline-block;
		width: 30%;
		padding-left: 1%;
		padding-right: 1%;
		height: 330px;
		margin-top: 16px;
	}
	&-img{
		display: block;
		&-1{
			padding-top: 8px;
		}
		&-2{
			padding-top: 62px;
		}
		&-3{
			height: 300px;
			padding-left: 36px;
			padding-top: 8px;
		}
		&-4{
			padding-top: 20px;
		}
		&-5{
			padding-top: 52px;
		}
		&-6{

		}
		&-7{
			padding-left: 6px;
			padding-top: 68px;
		}
		&-8{
			padding-left: 60px;
			padding-top: 68px;
		}
		&-wrapper{
			background-color: rgba(60,73,85,0.9);
			height: 100%;
			position: relative;
			z-index: 1;
			overflow: hidden;
			border-radius: 14px;
		}
		&-mask{
			background-color: rgba(72,191,114,0.85);
			position: absolute;
			bottom: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			transition: bottom 750ms;
			border-radius: 14px;
			&-title{
				font-size: 26px;
				padding-top: 18px;
				padding-bottom: 18px;
				color: rgb(60,73,85);
				font-weight: 900;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
			&-list{
				text-align: left;
				padding-left: 24px;
				padding-right: 24px;
				font-size: 22px;
				font-weight: 800;				
			}
			&-li{
				padding-bottom: 8px;
				padding-left: 46px;
				background: url(../img/before.png) 3% 35% no-repeat;
				background-size: 10%;
				color: white;
				text-shadow: 2px 2px 1px black;
			}
		}
	}
}
.yva-goods-img-wrapper:hover > .yva-goods-img-mask{
	bottom: 0;
}
.yva-about{
	background: url(../img/2.jpg) no-repeat;
	background-size: cover;	
	color: white;
	text-align: center;
	&-mask{
		background-color: rgba(60,73,85,0.9);
	}
	&-container{
		padding-left: 610px;
		padding-right: 120px;
		background: url(../img/wheel.png) 10% 50% no-repeat;
		background-size: 50%;
	}
	&-title{		
		padding-top: 176px;
		&-secondary{
			padding-top: 12px;
			padding-bottom: 46px;
		}
	}
	&-text{
		padding-bottom: 246px;
	}
}
.yva-contacts{
	margin-top: 48px;
	margin-bottom: 48px;
	&-bord{
		border-bottom: 3px solid rgb(72, 191, 114);
	}
	&-green{
		color: rgb(72, 191, 114);
	}
	&-title{
		text-align: center;
		margin-bottom: 42px;
		padding-bottom: 20px;
		color: rgb(72, 191, 114);
	}
	&-phone{
		display: block;
		padding: 20px 20px 20px 140px;
		font-size: 28px;
		font-weight: 700;
		background: url(../img/cell.png) 10% 50% no-repeat;
		background-size: 12%;
		margin-bottom: 34px;
		&:nth-child(2){
			background: url(../img/home.png) 64% 50% no-repeat;
			background-size: 12%;
			padding-left: 56px;
		}
	}
	&-adress{
		font-size: 38px;
		font-weight: 700;
		padding-left: 260px;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		background: url(../img/map.png) 36% 50% no-repeat;
		background-size: 18%;
		display: inline-block;
		width: 49%;
		vertical-align: middle;
	}
	&-phones{
		display: inline-block;
		width: 49%;
		vertical-align: middle;
		padding-left: 60px;
	}
}
.yva-footer{
	background-color: rgb(60,73,85);
	color: white;
	padding-top: 72px;
	padding-bottom: 72px;
	&-text{
		display: inline-block;
		vertical-align: middle;
		&-more{
			font-weight: bold;
			color: rgb(72,191,114);
		}
	}
	&-social{
		display: inline-block;
		padding-left: 424px;
		&-li{
			display: inline-block;
			vertical-align: middle;
			padding-left: 8px;
			padding-right: 8px;
		}
		&-img{
			width: 74px;
			height: 74px;
			background-color: white;
			border-radius: 50%;
			border: 3px solid rgb(72,191,114);
			display: block;
			&:hover{
				border: 3px solid white;
			}
		}
	}

}
}